# prevent directory listings
Options -Indexes
# follow symbolic links
Options FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/system/$
RewriteRule ^(system)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/system
RewriteRule ^system(/.+)?$ /backend/web/$1 [L,PT]
RewriteCond $1 !^(index\.php|uploads|favicon\.ico)
RewriteRule ^(.*)$ frontend/web/$1 [L]