#tutorial-menu{
    float: left;
	width: 190px;
	min-height: 300px;
}
#tutorial-content{
    float: left;
	width: 588px;
    padding: 10px;
	margin: 0px 10px 0px 15px;
	min-height: 300px;
}
#tutorial-right{
    position: absolute;
    top: 10px;
    right: -10px;
    float: left;
	width: 250px;
	margin-top: 10px;
	min-height: 300px;
}
#content_left_menu{width:190px;height:auto;margin:0px 0px 10px 0px;}
#content_left_menu h2{height:35px;line-height:35px;color:#ffa100;padding-left:22px;font-size:16px;padding-top:10px;}
#left_menu_top{height:35px;background:url(../img/menu_left_top.jpg) no-repeat}
#left_menu_mid{padding-top:10px;background:url(../img/menu_left_mid.jpg) repeat-y}
#left_menu_bot{height:25px;background:url(../img/menu_left_bot.jpg) no-repeat}
#content_left_menu img{margin:11px 5px 0px 0px;}
#content_left_menu ul{list-style:none;margin:0px;padding:0px}
#content_left_menu ul li{}
#content_left_menu ul li a{line-height:30px;width:165px;float:left;margin:0px 10px;display:block;color:#666;background:url(../img/more.png) 13px 50% no-repeat;padding-left:25px;border-bottom:1px dashed #ffa100;font-size:13px}
#content_left_menu ul li a:hover{color:#ff7200;background:url(../img/more1.png) 13px 50% no-repeat;}
#ads-left{margin-top: 15px;text-align: center}
#left-all{
    float: left;
	width: 730px;
    padding-top: 15px;
   /*width: 645px;*/
	min-height: 100px;
	margin-right: 15px;
}
#right-page {
    padding-top: 20px;
    width: 300px;
    float: left;
    height: auto;
    /* margin-left: 15px; */
    position: absolute;
    top: 0px;
    right: -10px;
}
#popular,.popular-soft{
    width: 300px;
    margin:20px 0px 0px 0px !important
}
#popular h2, .popular-soft h2{
	float: none !important;
	margin-left: 0px !important;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background: #e0001f;
    color: #fff;
    display: block;
    font-weight: normal;
    text-align: center;
	margin-top: 15px;
	margin-bottom: 0px !important
}
#download-option{
    margin:10px 0px 15px 0px;  
}
#download-option tr td{
    border-bottom: 1px dashed #DDD;
    padding: 5px 15px;
	color: #F00;
}
#download-option tr td:first-child{
	padding-left: 0px
}
#download-option td.even{
	width: 200px;
	color: #060
}
#download-option tr:last-child td{
	border: none
}
#download-detail{
    margin-top: 15px;
    border-top: 1px solid #CCC;
    padding: 15px 15px 0px 0px
}
#download-detail h2{
    font-size: 18px;
    color: #F60;
    margin-bottom: 15px;
}
#reviews{
    margin: 50px 0px;
}
#quick-view{width:250px;min-height:150px;background:black;padding:0px 3px 10px 0px;margin-bottom:15px}
#quick-view h2{margin-bottom: 10px !important}
#quick-view h3{color:#fff;margin-bottom: 10px;border-bottom: 1px solid #DDD;padding-bottom: 5px;margin-top:0px}
#quick-view ul{list-style-type:none;padding:0px 10px 0px 10px}
#quick-view ul li{border-bottom: 1px dashed #f2f2f2;margin-bottom: 7px;padding-bottom: 5px}
#quick-view ul li a{color:#fff;font-size:12px}
#tutorial-body,.tutorial-body{font-size:13px;text-align:justify}
.tutorial-body img{max-width:540px;margin-left: 20px;margin-top:7px}
.tutorial-body h3{font-size:15px;font-weight:bold}
.tutorial-title h2{font-size:16px;color:#666}
.tutorial-description{margin-bottom:15px;text-align: justify}
.tutorial-list{
	border-bottom: 1px solid #d4dadf;
    padding: 10px 0px 13px 0px;
	margin-bottom: 10px;
	clear: both
}
.tutol-list-header{
	width: 562px;
}
.tutol-list-header a{
	font-size:16px;
	text-align: left
}
.tutol-list-header a:hover{
	text-decoration:none;
	color: #e0001f
}
.tutol-list-header h3{
	text-align: left
}
.tutol-list-header img{
	width: 90px;
	margin-right: 15px;
	margin-left: 0px;
	float: left
}
.tutol-list-info{
	/*padding-left: 107px;*/
}
.tutol-list-details{
	padding: 5px 0px;
}
.tutol-list-header span.tutol-list-title{
	width: 435px;
	float: left;
	margin-bottom: 3px
}
.tutol-list-more{float: right}
.tutol-list-more .program-entry-download-link.button-link {
    height: 24px;
    line-height: 24px;
    min-width: 85px;
    line-height: 24px
}
.tutol-list-more a{
	font-size: 12px;
	text-align: center
}
.ads-250{margin-bottom: 15px}
.download-now{
	text-align: left;
	margin-bottom: 20px;
}
.download-now h1{
	font-size: 18px;
	color: #F60;
	margin-bottom: 30px;
}
.detail-content,
.detail-intro,
.manual{
    text-align: justify
}
a.download, a.review{
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #aaa;
    color: #fff;
    background: #64991e;
    background: -webkit-gradient(linear,left top,left bottom,from(#F30),to(#f30));
    background: -moz-linear-gradient(top,#F30,#f30);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f',endColorstr='#4e7d0e');
}
a.download:hover{
    background: -webkit-gradient(linear,left top,left bottom,from(#64991e),to(#64991e));
}
a.review {
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    font-weight: normal;
    margin: 0px auto;
    cursor: pointer
}
.download-option{
    margin-bottom: 25px;
    clear: both;
}
.download-option p{
    margin: 0px;
}
.download-option p:hover{
    /*color: #f00;*/
}
.download-small{
    float: right;
    width: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #aaa;
    color: #fff;        
    background: #64991e;
    background: -webkit-gradient(linear,left top,left bottom,from(#F90),to(#f90));
    background: -moz-linear-gradient(top,#F90,#f90);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F30',endColorstr='#f30');
}
.popular{
	padding: 10px 0px
}
.topdown{
	padding:3px 0px;
	clear: both;
	position: relative
}
.topdown h3 a{
	display: block;
	width: 220px;
	text-decoration: none;
	color: #039;
	font-weight: 100;
	font-size: 13px
}
.topdown p{
    font-size: 13px;
	color: #888;
    overflow: hidden;
	height: 20px
}
.topdown img{
	width: 30px;
	height: 30px;
	float: left;
	margin: 3px 7px 0px 0px;
}
.total-right{font-weight: 100; position: absolute; right: 0px ; top: 5px; font-size: 12px; color: #F60}
.related-item{
	clear: both;
	padding: 7px 0px;
}
.related-item div{
	float: left;
	height: 32px;
	line-height: 32px;
    overflow: hidden
}
.related-img{
	width: 260px;
	overflow: hidden
}
.related-img a{
	font-weight: 100;
	font-size: 14px;
}
.related-img img{
	float: left;
	margin-right: 7px
}
.related-info{
	width: 370px;
	color: #888
}
.related-total{
	width: 70px;
	text-align: right;
	color: #F60
}
.down-left{
	width: 425px;
	float: left;
}
.down-right{
	width: 300px;
	float: left;	
}
.down-right a{
	display: block;
	float: left;
	margin: 0px 10px;
}
.down-right h2{
	font-size: 17px;
	margin-bottom: 7px;
	color: #777
}
.rating-title{
    width: 660px;
    height: 30px; 
    background:#F2F2F2;
    color:#03848E;
    font-weight:bold;
    font-size:15px;
    line-height:30px;
    padding-left: 5px
}
.user-rating{
    width: 660px;
    border:1px solid #DDD;overflow:auto;display:table;
}
.rating-left{
    width: 300px;
    float:left;
    color:#999;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD
}
.rating-right{
    width: 357px;
    float:left;
    color:#999;
    border-bottom:1px solid #DDD;
}
.rate-title{
    margin-left:10px;font-weight:bold;line-height:30px;
}
.reviews-list{
    width: 100%;
    margin: 30px 0px;
}
.review-items{margin-bottom:20px;}
.ritems-left{
    width:90px;
    float:left;
}
.ritems-left img{
    width: 50px;
    margin-left: 15px;
}
.ritems-right{
    width:610px;
    float:left;
    margin-left:20px;
}
.title-ritems{
    font-size: 16px;
    color: #257B88;
    margin-bottom: 5px;
}
.revire-descr{
    margin-top: 10px
}
.review-user-info{width:80px;text-align:center;}
.review-user-info p{color: #333;font-weight: bold;}
.review-form-title{background-color: #E6EDF6;color: #0E3D52;font-weight: bold;}
.review-form{width:660px}
.review-form-body{
    width: 660px;
    padding: 20px;
    background-color: #F2F2F2;
    margin: 10px 0px;
    min-height: 150px;    
}
.tblvoted tr td{
    width: 250px;
    padding: 3px 5px 3px 10px;
}
.tblvoted tr td.odd{
    width: 120px;
    padding-left: 0px;
}
.related{
    padding: 15px 0px;
}
.stars{
	margin: 7px 0px;
}
.stars span{
	display: block;
	float: left;
	height: 16px;
	color: #F90
}
.stars span.voted{
	margin-left: 5px;
	height: 16px;
}
.star-gray {
	width: 80px;
    background: url(../img/star_gay.png) repeat scroll 0% 0% transparent;
}
.star-active {
    width: 48px;
    background: url(../img/star_icons.png) repeat scroll 0% 0% transparent;
}
.barview {
    width: 120px;
    height: 14px;
    float: left;
    background: url(../img/barview.jpg) repeat-x scroll center center transparent;
    margin-top: 8px;
}
.barview .active {
    width: 80px;
    height: 14px;
    background: url(../img/barview_red.jpg) repeat-x scroll center center transparent;
}
.link-title{color: #F30; margin-bottom: 17px;font-weight: bold}
.padtop{padding-top: 15px;}
.padbot{padding-bottom: 15px;}
.padtobot{padding: 15px 0px;}
.padleft{padding-left: 15px;}
.martop{margin-top: 15px;}
.marbot{margin-bottom: 15px;}
.bold{font-weight: bold}
.floatleft{float: left}
.cls{clear: both}
.short-descr{font-size: 11pt; color: #888; font-weight: normal}
.bortop{border-top: 1px solid #CCC}
.borbot{border-bottom: 1px solid #CCC}
.full-content h2{color: #333}
.full-content ul{padding-left: 15px}
.full-content ul li{list-style-type: disc !important}
.detail-content .full-content ul{
	padding-left: 40px
}
.manual ul li{
	margin-bottom: 10px;
}
.hand{
    width: 580px;
    float: left;
    padding-left: 75px;
    color: #039;
    min-height: 38px;
    background: url(../img/hand-arrow.png) no-repeat;
}
.hand-right{
    width: 120px;
    float: left
}
.clearAll {
    clear: both;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    width: 1px;
}
.fixed-top{padding-top:15px;position:fixed;top:50px;z-index:99;}
.fixed-bot{position:fixed;bottom:26px;z-index:99;}
.form-items{clear:left;padding:2px 0px}
.form-items label{display:block;width:150px;float:left;font-weight:normal}
.red{color:#F00}
