#site-header .nav>li>a:focus {
    background-color: #e0001f;
    color: #fff
}
#site-header .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
    height: 60px;
    color: #fff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
#site-header .navbar-nav>li>a:hover{
    color: #F00 !important
}
#site-header .no-left-border {
    border-left: none!important
}
#site-header .dropdown-menu li i,
#site-header .navbar-nav>li>a>i {
    font-size: 32px;
    vertical-align: middle;
    position: relative;
    top: -3px
}
#site-header .dropdown.platform-dropdown {
    width: 155px
}
#site-header .platform-dropdown .dropdown-menu {
    width: 153px;
    min-width: 153px;
    border: none;
    margin: 0 1px
}
#site-header .language-dropdown .dropdown-menu {
    width: 153px;
    min-width: 153px;
    border: none;
    margin: 0 1px
}
#site-header .navbar-nav>li>.dropdown-menu {
    padding: 0;
    background-color: #e0001f;
    border-radius: 0
}
#site-header .dropdown-menu li {
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #e45639
}
#site-header .language-dropdown .dropdown-menu li {
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #66beeb
}
#site-header .dropdown-menu li a {
    display: inline-block;
    padding: 0;
    color: inherit
}
#site-header .icon-television {
    font-size: 24px!important;
    top: -1px!important;
    margin-right: 5px
}
#site-header-secondary-nav {
    height: 26px;
    background-color: #203545;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box
}
#site-header-secondary-nav ol {
    list-style: none;
    margin: 0;
    padding: 0
}
#site-header-secondary-nav ol li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 40px;
    line-height: 26px;
    position: relative
}
#site-header-secondary-nav ol li a {
    color: #fff
}
#site-header-secondary-nav ol li.active {
    background-color: #0093de;
    border-radius: 0 0 5px 5px
}
.grey-top {
    background-color: #ffffff;
    width: 100%;
}
.blue-menu {
    height: 75px;
    background-color: #0093de
}
#blue-menu>div {
    width: 252px;
    float: left
}
.logo-holder {
    width: 236px;
    margin-left: 10px;
    margin-top: 8px
}
#blue-menu .os-options {
    width: 370px;
    padding-top: 6px;
    margin-left: 22px;
    white-space: nowrap
}
#blue-menu .lang-options {
    width: 110px;
    padding-left: 5px;
    margin-left: 73px;
    padding-top: 5px
}
.main-search-container {
    width: 250px;
    margin-left: 6px
}
#main-logo {
    background-image: url(/img/new/filehippo-logo.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 220px;
    margin-top: 12px
}
#logo-subtext {
    font-size: 12px;
    position: relative;
    left: 76px;
    top: -26px;
    color: #fff
}
.logo-holder a {
    text-decoration: none
}
#main-search-box {
    float: right;
    height: 34px;
    width: 245px
}
#main-search-box input[type=search] {
    box-sizing: border-box
}
#q {
    border: medium none;
    float: left;
    height: 32px;
    left: 0;
    outline: 0 none;
    position: relative;
    top: 2px;
    width: 215px;
    padding-left: 10px;
    border-radius: 3px 0 0 3px
}
#m-search-button {
    border: 0 none;
    height: 32px;
    margin-top: 2px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    -moz-box-sizing: border-box;
    border-radius: 0 3px 3px 0
}
#m-search-button img {
    border: 0 none;
    height: 25px;
    width: 25px;
    border-radius: 0 3px 3px 0;
    position: relative;
    top: 1px;
    left: -3px
}
#m-options {
    margin-top: 20px;
    margin-left: -2px
}
#m-options>li {
    display: inline;
    list-style-type: none;
    color: #fff;
    font-size: 16px;
    height: 40px
}
#m-options>li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased
}
.disclosure-arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #fff
}
.divider {
    background-image: url(/img/new/divider.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 11px;
    margin-left: 9px;
    padding-right: 5px
}
#m-options>div>a,
#m-options>div>a:hover {
    color: #fff;
    text-decoration: none
}
#m-windows {
    border-bottom: solid 2px #fff
}
.social-buttons {
    padding-top: 17px
}
.social-buttons>div {
    padding-right: 1px;
    float: left
}
#content-wrapper {
    clear: both
}
.language-container {
    margin-right: 5px
}
#selected-language {
    color: #fff;
    float: right;
    text-align: right;
    width: 80px;
    cursor: pointer;
    padding-right: 7px;
    padding-bottom: 1px
}
#language-icon {
    float: left;
    padding-top: 3px;
    cursor: pointer
}
.language-select-box {
    background-color: #fff;
    border: 1px solid #0093de;
    position: absolute;
    width: 85px;
    z-index: 100;
    display: none
}
.language-box {
    border-bottom: solid 1px silver;
    font-size: 12px
}
.language-box a {
    color: #000;
    padding: 2px 0 2px 10px;
    display: block
}
.language-box a:hover {
    background-color: #0093de;
    color: #fff;
    text-decoration: none
}
#footer {
    padding: 5px 0 15px;
    overflow: hidden
}
#footer a {
    color: #337ab7;
    text-decoration: none
}
.footer-space {
    margin-top: 35px;
    clear: both
}
.footer-menu {
    float: left;
    width: 535px
}
.footer-menu ul {
    padding: 0;
    margin: 0
}
.right-footer-menu,
.right-footer-menu ul {
    float: left
}
.left-footer-menu {
   
}
.firstmenu {
    padding-left: 0!important
}
.lastmenu {
    border-right: 0!important;
    padding-right: 0!important
}
.right-footer-menu ul li {
    font-size: 12px
}
.copy {
    font-size: 12px;
    float: right
}
.grad {
    background: -webkit-linear-gradient(left, #3e6d90, #08416c);
    background: -o-linear-gradient(right, #3e6d90, #08416c);
    background: -moz-linear-gradient(right, #3e6d90, #08416c);
    background: linear-gradient(to right, #3e6d90, #08416c)
}
.left-bg {
    background-color: #3a688b;
    height: 250px;
    float: left;
    width: calc(52% - 550px)
}
.right-bg {
    background-color: #08416c;
    height: 250px;
    float: left;
    width: calc(51% - 550px)
}
.bg {
   margin-left: auto; 
    background-image: url(../img/new/ads-banner-homepage.jpg);
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    height: 250px;
    width: 1070px;
    margin: 0px auto;
}
.height-fix {
    height: 240px
}
.counter-container {
    background-color: #f2f2f2;
    padding-top: 1px;
    border-bottom: solid 2px #b5c0c9;
    height: 90px
}
.main-splash {
    width: 973px;
    background-repeat: no-repeat;
    margin-top: 10px
}
.software-button {
    background-color: #e0001f;
    border-radius: 3px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase
}
.software-button a {
    color: #fff;
    font-size: 16px;
    font-spacing: 1.5px;
    text-decoration: none
}
.software-button a:hover {
    text-decoration: none;
    color: #000000;
}
.splash-image {
    margin-left: 30px;
    float: left;
    padding-bottom: 5px
}
.splash-text {
    float: left;
    margin-left: 140px;
    margin-top: 8px
}
#splash-counts {
    margin-top: 22px;
    margin-left: 95px
}
.splash-count-title {
    font-size: 16px;
    color: #3c3c3c
}
#splash-counts>div {
    float: left;
    width: 308px
}
.splash-content h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    color: #f00;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 32px
}
.splash-content h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff
}
.splash-content ul {
    margin-top: 14px;
    padding-left: 20px;
    margin-bottom: 17px
}
.splash-content ul li {
    height: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(0, 149, 224);
    list-style-type: square;
}
.s-count-items>div {
    text-align: center
}
.s-count-items>div:nth-of-type(1) {
    color: #0093de;
    font-size: 21px;
    /* padding-top: 3px; */
    line-height: 40px;
}
.s-count-items>div:nth-of-type(2) {
    color: #3c3c3c;
    font-size: 16px;
    padding-top: 4px;
    line-height: 17px
}
#archived-versions {
    border: 0;
    clear: both
}
.v-spacer {
    width: 10px!important;
    border-right: solid 2px #869aab;
    float: left;
    margin-top: 10px;
    padding-top: 5px
}
#windows-programs {
    border-right: 0
}
.tooltippop {
    background-color: #fff;
    border: 1px solid #0093de;
    position: absolute;
    width: 185px;
    z-index: 100;
    display: none
}
input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}
.news-image-overlay {
    position: relative;
    float: left
}
body {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #333;
    padding-top: 50px;
	background: #fff
    color: #333;
    background: #fefefe;
    line-height: 1.5em;
}
a {
    outline: 0
}
a img {
    outline: 0;
    border: 0
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 1110px
}
.container.header {
    margin-right: auto;
    margin-left: auto;
    width: 1100px
}
h2 a,
h2 a:visited {
    text-decoration: none;
    color: #333
}
h2 a:hover {
    text-decoration: underline
}
#header-above-content-leaderboard {
    margin: 0 auto 10px auto;
    height: 90px;
    width: 728px;
    max-width: 970px;
    display: table;
    background-color: #fff
}
.software-button {
    float: left;
    padding: 0 5px 0;
    width: auto;
    min-width: 190px;
    max-width: 250px;
    margin-left: 50px;
}
.latest-button {
    margin-left: 20px
}
.roundTooltip {
    border-radius: 12px;
    color: #fff;
    float: right;
    font-size: 11px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    width: 13px;
    margin-right: 46px;
    margin-top: 3px;
    background: #0093de;
    cursor: pointer
}
.s-c-title {
    width: 180px;
    padding-left: 34px;
    float: left
}
#root-content {
    overflow: hidden
}
.right-hand-col {
    width: 320px;
    padding-top: 17px;
    float: right
}
.featured-software {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden
}
.featured-software a:hover>div {
    text-decoration: underline;
    color: #fff
}
.featured-software h2,
.outbrain-container h2 {
    font-size: 21px;
    text-transform: uppercase
}
.featured-software a:hover {
    text-decoration: underline
}
.featured-title-container {
    background-color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    width: 290px;
    bottom: 0;
    position: absolute;
    padding: 5px
}
.feature-title {
    font-size: 21px;
    color: #fff
}
.feature-title:hover {
    text-decoration: underline
}
.outbrain-container {
    margin-top: 20px
}
.left-hand-col {
    padding-top: 17px;
    width: 728px;
    margin-left: 20px
}
#categories {
    padding-right: 5px;
    margin-right: 15px
}
.categories-spacer {
    clear: both;
    height: 17px
}
.home-cat-container {
    float: left;
    width: 360px
}
.home-main-left {
    float: left
}
.home-right-col {
    float: right
}
#home-categories-list,
#popular-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}
#home-categories-list li {
    float: left
}
#home-categories-list li a,
#popular-list li a {
    border-bottom: solid 1px #e3e8ea;
    display: block;
    width: 170px;
    color: #000;
    text-decoration: none;
    padding: 4px 0 4px
}
#home-categories-list li a:hover,
#popular-list li a:hover {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}
#popular li {
    border-left: solid 2px #e3e8ea;
    padding-left: 20px
}
#popular-list li a {
    width: 355px;
    padding: 4px 0 4px;
}
#popular-list li a img {
    padding-right: 10px;
    vertical-align: middle;
    height: 16px
}
.download-manager {
    background-color: #0093de;
    border-radius: 4px;
    clear: both;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
    width: 340px
}
.download-manager a {
    color: #fff;
    font-size: 18px;
    text-decoration: none
}
.download-manager a:hover,
.download-manager a:hover>div {
    text-decoration: underline
}
.download-manager img {
    width: 24px;
    height: 24px;
    margin: 8px 10px 0 8px;
    float: left
}
.download-manager-text {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    float: left
}
.download-manager-text:hover {
    text-decoration: underline
}
#popular {
    overflow: hidden;
    margin: 0 5px 5px
}
.middle-block {
    background-color: #f2f2f2;
    height: 105px;
    margin-top: 35px;
    padding: 17px;
    margin-bottom: 25px
}
.m-b-text {
    color: #e47132;
    font-size: 23px;
    text-align: center
}
#categories h2,
#popular h2,
#soft-news h2 {
    font-size: 21px;
    text-transform: uppercase;
    color: #333
}
#home-categories h2{
    font-size: 21px;
    text-transform: uppercase;
    color: #333;
}
#popular h2 {
    margin-left: 25px;
    float: left
}
#popular .view-more-link {
    float: right;
    text-transform: uppercase;
    margin-top: 7px;
    color: #337ab7;
    text-decoration: none
}
#popular a:hover {
    text-decoration: none;
    color: #f00
}
.soft-news {
    width: 328px
}
.latest-software-news a {
    text-decoration: none;
	color: #333
    /*color: #0093de*/
}
.latest-software-news a:hover {
    text-decoration: none;
    color: #e0001f;
}
.clearfix {
    clear: both;
    padding-bottom: 30px
}
.clearfix-no-padding {
    clear: both;
    padding: 0
}
.news-image {
    padding-left: 5px;
    float: left;
    margin-right: 15px;
    padding-top: 15px;
    width: 200px;
    /* max-height: 125px; */
    height:150px;
}
.news-counts>div {
    float: left;
    margin-top: -6px;
    padding-right: 20px;
    padding-top: 3px
}
.news-counts {
    float: left;
    width: 510px;
    margin-top: 10px
}
.news-name {
    text-transform: uppercase;
    top: -2px;
    position: relative
}
.news-counts>div>img {
    padding-bottom: 15px;
    padding-right: 5px;
    position: relative;
    top: 5px
}
.news-name img {
    top: 5px;
}
.news-data {
    clear: both;
    margin-top: 20px
}
.news-data:first-of-type {
    margin-top: 0
}
.news-title h3 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #0093de
}
.news-excerpt a {
    margin-left: 10px
}
.news-comments,
.news-dates {
    padding-top: 6px
}
input:focus {
    outline: 0;
    background-color: #fff
}
.advert-text {
    color: #869aab;
    font-size: 11px;
    margin-bottom: 2px
}
.middle-column-leaderboard-ad-container {
    padding-top: 20px;
    clear: both
}
.middle-column-leaderboard-ad {
    margin-bottom: 20px;
    width: 728px
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline
}
h1 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 18px;
    display: block
}
h2 {
    font-weight: 700;
    font-size: 14px;
    display: block;
    margin-bottom: 10px
}
.advert-right {
    border: solid 1px silver;
    height: 250px;
    width: 300px
}
.middle-advert {
    width: 728px;
    height: 104px;
    border: solid 1px silver
}
.it .splash-image {
    padding-top: 1px
}
.it .splash-text {
    width: 523px;
    margin-left: 58px
}
.fr .splash-text,
.jp .splash-text {
    width: 508px;
    margin-left: 60px
}
.fr .splash-content h1 {
    font-size: 39px
}
.fr .splash-content h2 {
    font-size: 21px
}
.jp .height-fix {
    height: 303px
}
.fr .height-fix {
    height: 236px
}
.fr .v-spacer {
    margin-top: 16px
}
.fr .download-manager a,
.jp .download-manager a {
    font-size: 17px
}
.fr .splash-content ul {
    margin-bottom: 26px;
    margin-top: 7px
}
.de .download-manager a {
    font-size: 16px
}
.de .splash-content h1,
.es .splash-content h1,
.fr .splash-content h1 {
    font-size: 25px
}
.de .splash-text {
    margin-left: 70px
}
.de .v-spacer {
    margin-top: 23px;
    padding-top: 3px
}
.it .splash-content h1 {
    font-size: 25px
}
.it .v-spacer {
    margin-top: 21px;
    padding-top: 4px
}
.it .height-fix {
    height: 235px
}
.es .height-fix {
    height: 249px
}
.es .splash-image {
    padding-top: 1px
}
.es .splash-text {
    width: 585px;
    margin-left: 26px
}
.es .v-spacer {
    margin-top: 19px;
    padding-top: 4px
}
.jp .height-fix,
.pl .height-fix {
    height: 239px
}
.pl .splash-text {
    width: 520px;
    margin-left: 50px
}
.jp .splash-content ul,
.pl .splash-content ul {
    margin-bottom: 35px
}
.jp .software-button,
.pl .software-button {
    line-height: 33px;
    height: 33px
}
.jp .software-button a,
.pl .software-button a {
    font-size: 14px
}
.pl .splash-image {
    padding-top: 1px
}
.pl .splash-content h1 {
    font-size: 25px
}
.pl .splash-content h2 {
    font-size: 19px
}
.pl .v-spacer {
    margin-top: 22px;
    padding-top: 3px
}
.jp .v-spacer {
    margin-top: 19px;
    padding-top: 5px
}
.cls{clear:left}
#navigation{
    width: 680px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 7px;
}
#navigation ul{
    list-style-type:none;
    margin:0px;
    padding:0px
}
#navigation ul li{
    float: left;
    margin-right: 10px;
}
#navigation ul li a{
    font-weight: normal;
    font-size: 13px;
    color: #039;
}
#navigation ul li a:hover{
    font-weight: bold
}
#navigation ul li:after{
    content: ">";
    font-family: Comic Sans MS;
    padding: 0 5px 0px 15px;
    color: #666;
    font-size: 11px;
}
#navigation ul li:last-child:after{
    display: none
}
.category-breadcrumb-entry h1{
    font-size: 21px;
    margin: 0px 0px 15px 0px
}
.free {
    color: #F00;
    font-size: 12px;
}
.free:after {
    content: "Free";
    background: #060;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 9px;
    margin: 0 8px 0 0;
    font-family: Tahoma;
}
.trial {
    color: #F00;
    font-size: 12px;
}
.trial:after {
    content: "Trial";
    background: #0072bc;
	color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 9px;
    margin: 0 8px 0 0;
    font-family: Tahoma;
}